.carousel {
  display: grid;
  grid-template-columns: 1fr 2fr;
  @include set-width-n-height(100%, 90vh);
  @include for-big-desktop-up {
    height: 100vh;
  }

  @include for-extra-large-desktop-up {
    max-width: 2500px;
    margin: 0 auto;
  }

  @include for-tablet-potrait-down {
    grid-template-columns: 1fr;
    grid-auto-rows: 15% 85%;
  }
}
.navigator-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: $background-black;
}

.navigator-content {
  text-align: right;
  @include for-tablet-potrait-down {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.navigator__item {
  position: relative;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: mix(white, $background-black, 60);
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  @include for-big-desktop-up {
    font-size: 1.3rem;
  }

  @include for-small-desktop-down {
    font-size: 1rem;
  }

  @include for-tablet-potrait-down {
    padding: 1.4rem 2rem;
    font-size: 1.1rem;
    margin-bottom: 0;

    i {
      transform: rotate(90deg);
    }
  }
}

.navigator__item--active {
  font-size: 2rem;
  text-shadow: 0px 4px 7px rgba($color: #000000, $alpha: 0.25);

  i {
    display: none;
  }

  @include for-big-desktop-up {
    font-size: 2.2rem;
  }
  @include for-small-desktop-down {
    font-size: 1.5rem;
  }

  @include for-tablet-potrait-down {
    font-size: 1.7rem;
    border-bottom: 4px solid $primary-red;
  }
}

.partnership-container {
  position: relative;
  overflow: hidden;
}

.partnership-container__list {
  position: absolute;
  display: grid;

  overflow-wrap: break-word;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "one one two two three three"
    "four four four five five five"
    "six six seven seven eight eight"
    "nine nine nine ten ten ten"
    "eleven eleven twelve twelve thirdteen thirdteen";

  align-items: center;
  justify-content: center;
  justify-items: center;

  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  @include set-width-n-height(100%, 100%);
}

.partnership-item {
  width: 150px;

  @include for-tablet-landscape-down {
    width: 120px;
  }

  @include for-extra-large-desktop-up {
    width: 195px;
  }
}

@for $i from 1 through 13 {
  .partnership-item:nth-of-type(#{$i}) {
    grid-area: get-grid-area($i);
  }
}

.partnership-item:nth-of-type(4),
.partnership-item:nth-of-type(9) {
  justify-self: center;
  margin-left: 25%;
}

.partnership-item:nth-of-type(5),
.partnership-item:nth-of-type(10) {
  justify-self: center;
  margin-right: 25%;
}

img[src="img/media-logo/dien-quan-network.png"] {
  @include for-tablet-landscape-down {
    width: 100px !important;
  }

  @include for-extra-large-desktop-up {
    width: 131px !important;
  }
}

img[src="img/media-logo/Isao-vn.png"] {
  @include for-tablet-landscape-down {
    width: 110px !important;
  }

  @include for-extra-large-desktop-up {
    width: 140px !important;
  }
}

img[src="img/coporate-logo/Kuehne-Nagel.png"] {
  @include for-tablet-landscape-down {
    width: 160px !important;
  }

  @include for-extra-large-desktop-up {
    width: 240px !important;
  }
}
img[src="img/coporate-logo/Mercedes-Benz.png"] {
  @include for-tablet-landscape-down {
    width: 120px !important;
  }

  @include for-extra-large-desktop-up {
    width: 170px !important;
  }
}
img[src="img/strategic-logo/DMS-Academy.png"] {
  @include for-tablet-landscape-down {
    width: 100px !important;
  }

  @include for-extra-large-desktop-up {
    width: 133px !important;
  }
}
img[src="img/strategic-logo/Redder-x-Dentsu-Logo.png"] {
  @include for-tablet-landscape-down {
    width: 110px !important;
  }

  @include for-extra-large-desktop-up {
    width: 160px !important;
  }
}

img[src="img/strategic-logo/Aim-Academy.png"] {
  @include for-extra-large-desktop-up {
    width: 340px !important;
  }
}

img[src="img/coporate-logo/Laiday.png"] {
  @include for-extra-large-desktop-up {
    width: 230px !important;
  }
}

.partnership-container__list--show {
  opacity: 1;
}
