.carousel {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100vw;
  height: 90vh;
}
.navigator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $background-black;
}

.navigator-content {
  text-align: right;
}

.navigator__item {
  position: relative;
  margin-bottom: 0.8rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: mix(white, $background-black, 60);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.navigator__item--active {
  font-size: 2rem;
  text-shadow: 0px 4px 7px rgba($color: #000000, $alpha: 0.25);

  i {
    display: none;
  }
}

.partnership-container {
  position: relative;
}

.partnership-container__list {
  position: absolute;
  display: grid;

  top: 0.8rem;
  left: 3rem;
  overflow-wrap: break-word;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "one one two two three three"
    "four four four five five five"
    "six six seven seven eight eight"
    "nine nine nine ten ten ten"
    "eleven eleven twelve twelve thirdteen thirdteen";

  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;

  @include set-width-n-height(100%, 100%);
}

.partnership-item {
  width: 150px;
}

@for $i from 1 through 13 {
  .partnership-item:nth-of-type(#{$i}) {
    grid-area: get-grid-area($i);
  }
}

.partnership-item:nth-of-type(4),
.partnership-item:nth-of-type(9) {
  justify-self: center;
}

.partnership-container__list--show {
  opacity: 1;
}
