footer {
  @include set-bg-n-text-color(#000);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  @include for-extra-large-desktop-up {
    padding: 3rem 1rem;
  }
  @include for-tablet-potrait-down {
    font-size: 1rem;
  }

  @include for-phone {
    font-size: 0.6rem;
  }
}
.footer-logo {
  display: flex;
  align-items: center;
  @include for-tablet-potrait-down {
    flex-wrap: wrap;
  }
}
.footer-logo .logo {
  @include for-phone {
    margin: 0 0 1rem 1rem;
  }
}

.footer-logo p {
  margin: 0 0 0.9rem 0.5rem;

  @include for-tablet-potrait-down {
    margin: 0 0 0 3rem;
  }
  @include for-phone {
    margin: 0 0 0 1rem;
    font-size: 0.1rem;
  }
}
.footer-item {
  padding: 0.4rem 0;
}
.footer-item i {
  font-size: 1.2em;
  margin-right: 0.4rem;
}
.footer-item a {
  color: $background-white;
  transition: color 0.1s ease-in-out;
  @media (min-width: 599px) {
    &:hover {
      color: $primary-red;
    }
  }
}
.footer-icons {
  display: flex;
  margin-right: 3rem;
  @include for-tablet-potrait-down {
    margin-right: 2rem;
  }

  @include for-phone {
    margin-right: 0.5rem;
  }
}
.facebook-logo,
.ins-logo {
  margin-right: 0.5rem;
  width: 50px;

  @include for-tablet-potrait-down {
    width: 30px;
    margin-right: 1rem;
  }
  @include for-phone {
    width: 25px;
    margin-right: 0.5rem;
  }
}
