footer {
  @include set-bg-n-text-color(#000);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;

  @include for-extra-large-desktop-up {
    padding: 3rem 1rem;
  }
}
.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo p {
  margin: 0 0 0.9rem 0.5rem;
}
.footer-item {
  padding: 0.4rem 0;
}
.footer-item i {
  font-size: 1.2em;
  margin-right: 0.4rem;
}
.footer-item a {
  color: $background-white;
  transition: color 0.1s ease-in-out;

  &:hover {
    color: $primary-red;
  }
}
.footer-icons {
  margin-right: 3rem;
}
.facebook-logo,
.ins-logo {
  margin-right: 0.5rem;
  width: 50px;
}
