.grid-layout {
  position: relative;
  padding-top: 7%;
  max-width: 2400px;
  margin: 0 auto;

  @include for-phone {
    padding: 10% 0;
  }
}
.title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 0px 4px 7px rgba($color: #000000, $alpha: 0.25);
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;

  @include for-big-desktop-up {
    font-size: 3rem;
  }
  @include for-tablet-landscape-down {
    font-size: 2rem;
  }
  @include for-phone {
    font-size: 1.5rem;
    //top: -30px;
  }
}

.grid-container {
  padding: 0 2rem;
  @include for-phone {
  }
}
.dept-card {
  position: relative;
  margin-bottom: 3rem;
  height: 90vh;

  &::before {
    position: absolute;
    content: "";
    background-color: rgba($background-black, $alpha: 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  @include for-big-desktop-up {
    height: 100vh;
  }
  @include for-tablet-landscape-down {
    height: 65vh;
  }
  @include for-phone {
    /*  position: sticky;
    top: 20px;
    transform-origin: center top; */

    height: 30vh;
    margin-bottom: 7rem;
  }
}

.dept-card__content {
  @include set-width-n-height(393px, 391px);
  position: absolute;
  display: block;
  background-color: rgba($background-white, $alpha: 0.8);
  padding: 4rem 2.5rem;
  right: 30px;
  top: 20%;
  transform: translateY(100px);
  opacity: 0;
  transition: all 0.5s ease-in-out;

  @include for-extra-large-desktop-up {
    @include set-width-n-height(600px, 650px);
    top: 25%;
  }

  @include for-big-desktop-up {
    right: 100px;
  }

  @include for-tablet-landscape-down {
    @include set-width-n-height(290px, 288px);
    top: 22%;
    padding: 3rem 2rem;
    font-size: 0.7rem;
  }

  @include for-tablet-potrait-down {
    @include set-width-n-height(235px, 245px);
  }
  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    background-color: $primary-red;

    @include set-width-n-height(100%, 13px);

    @include for-tablet-landscape-down {
      height: 9px;
    }
  }
}

.dept-card:nth-of-type(2) .dept-card__content {
  left: 30px;

  @include for-big-desktop-up {
    left: 100px;
  }
}

.dept-card:nth-child(2) .dept-card__content__title span {
  font-size: 1.2rem;

  @include for-tablet-landscape-down {
    font-size: 0.9rem;
  }
}

.slide-up {
  transform: translateY(0);
  opacity: 1;
}
.dept-card__content__title {
  margin-bottom: 2.5rem;
  color: $primary-red;
  font-weight: 500;

  @include for-extra-large-desktop-up {
    margin: 1.5rem 0 3rem 0;
  }
  @include for-tablet-landscape-down {
    margin-bottom: 1rem;
  }
}

.dept-card__content__title span {
  display: block;
  position: relative;
  margin-bottom: 0.3rem;
  font-weight: 700;
  font-size: 1.8rem;

  @include for-tablet-landscape-down {
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
  }

  &::before {
    position: absolute;
    background-color: $primary-red;
    content: "";
    @include set-width-n-height(40%, 1px);
    top: -40px;
    left: 50%;
    transform: translateX(-50%);

    @include for-tablet-landscape-down {
      top: -20px;
    }
  }
}

.dept-card__content__des p {
  margin-bottom: 0.5rem;
  font-weight: bold;

  @include for-extra-large-desktop-up {
    margin-bottom: 1.3rem;
  }

  @include for-tablet-landscape-down {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
  }
}

.dept-card__content__des__list li {
  padding: 0.2rem 0;

  @include for-extra-large-desktop-up {
    padding: 0.3rem 0;
  }

  @include for-tablet-landscape-down {
    padding: 0.1rem 0;
  }
}

.hr-card {
  &::after {
    content: "";
    @include set-width-n-height(100%, 100%);
    background: url("../img/our-department/hr.JPG") no-repeat center
      center/cover;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.mkt-card {
  &::after {
    content: "";
    @include set-width-n-height(100%, 100%);
    background: url("../img/our-department/mkt-dept-desktop-w.png") no-repeat
      center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}
.rd-card {
  &::after {
    content: "";
    @include set-width-n-height(100%, 100%);
    background: url("../img/our-department/rd.JPG") no-repeat center
      center/cover;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
    -webkit-transform: translate3d(0, 0, 0);
  }
}

.btn-lg {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid rgb(255, 255, 255);
  padding: 1.2rem 1.1rem;
  width: 36%;
  text-align: center;

  @media (min-width: 600px) {
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 50px;
      height: 50px;
      border-style: solid;
      transition: all 0.3s ease-in-out;
    }
    &::before {
      top: -3px;
      left: -3px;
      border-width: 3px 0 0 3px;

      @include for-extra-large-desktop-up {
        border-width: 5px 0 0 5px;
      }

      @include for-tablet-potrait-down {
        top: -2px;
        left: -2px;
        border-width: 2px 0 0 2px;
      }
    }
    &::after {
      right: -3px;
      bottom: -3px;
      border-width: 0 3px 3px 0;

      @include for-extra-large-desktop-up {
        border-width: 0 5px 5px 0;
      }

      @include for-tablet-potrait-down {
        right: -2px;
        bottom: -2px;
        border-width: 0 2px 2px 0;
      }
    }
    @media (min-width: 1101px) {
      &:hover {
        color: $primary-red;
      }
    }

    @include for-extra-large-desktop-up {
      border-width: 5px;
    }

    @include for-tablet-potrait-down {
      border-width: 2px;
    }
  }

  @include for-phone {
    width: 100%;
    top: 100%;
    transform: translate(-50%, 0);
    background-color: $background-white;
    color: $text-black;
    border: none;
  }
}

@media (min-width: 1101px) {
  .btn-lg:hover::before,
  .btn-lg:hover::after {
    width: calc(100% + 3px);
    height: 100%;
    border-color: $primary-red;
  }
}

.close-btn {
  border-color: $primary-red;
  color: $primary-red;
  font-size: 1rem;

  &:hover {
    @include set-bg-n-text-color($primary-red);
  }

  &:focus {
    outline: none;
  }

  @include for-extra-large-desktop-up {
    font-size: 1.5rem;
  }

  @include for-tablet-landscape-down {
    font-size: 0.7rem;
    margin-top: 0.7rem;
  }
}

.btn-lg h3 {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;

  @include for-extra-large-desktop-up {
    font-size: 1.5rem;
  }

  @include for-big-desktop-up {
    font-size: 2rem;
  }
  @include for-tablet-landscape-down {
    font-size: 1rem;
  }
}

.btn-lg p {
  @include for-big-desktop-up {
    font-size: 1.3rem;
  }
}

//Effects on phone
.dept-card--on-phone-clicked {
  position: absolute;
  @include set-width-n-height(100vw, 100vh);

  left: 0;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
