.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;

  &::before {
    content: "";
    @include set-width-n-height(100%, 100%);
    background: url("../img/hero.jpg") center center/cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
  }
}

.hero__content {
  text-align: center;
}

.headline,
.slogan {
  color: #fff;
}

.headline {
  //font-family: "noto-bold", sans-serif;
  margin-bottom: 1.3rem;
  font-size: 4rem;

  @include for-small-desktop-down {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
}

.slogan {
  margin-bottom: 5rem;
  font-size: 1.4rem;

  @include for-small-desktop-down {
    margin-bottom: 4rem;
  }
}

%circle {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba($background-white, $alpha: 0.8);
  width: 145px;
  height: 145px;
  text-align: center;
  color: $dark-red;
  h3 {
    font-size: 2.5rem;
    //font-family: "noto-bold", sans-serif;
    text-transform: uppercase;

    @include for-small-desktop-down {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1.3rem;
    text-transform: uppercase;

    @include for-small-desktop-down {
      font-size: 1.1rem;
    }
  }

  @include for-tablet-landscape-down {
    @include set-width-n-height(120px, 120px);
  }
}

.circle-one,
.circle-two,
.circle-three {
  @extend %circle;
}

.circle-two {
  width: 190px;
  height: 190px;
  h3 {
    font-size: 2.5rem;
  }

  @include for-tablet-landscape-down {
    @include set-width-n-height(175px, 175px);
  }
}
.circle-list {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 90%;
}
