.testimonial {
  position: relative;
  overflow: hidden;
  @include set-width-n-height(100%, 90vh);

  @include for-extra-large-desktop-up {
    max-width: 2300px;
    margin: 0 auto;
  }

  @include for-tablet-potrait-down {
    height: 200vh;
    background-color: $white-smoke;
  }
}
.testimonial-wraper {
  position: relative;
  margin: 0 auto;
  //overflow: hidden;
  @include set-width-n-height(90%, 100%);

  @include for-big-desktop-up {
    width: 70%;
  }

  @include for-extra-large-desktop-up {
    width: 80%;
  }

  @include for-tablet-potrait-down {
    width: 55%;
  }
}
.testimonial-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  @include set-width-n-height(100%, 100%);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.1rem;
  place-items: center;
  pointer-events: none;
  transition: all 0.5s ease-in-out;

  @include for-small-desktop-down {
    grid-gap: 1.4rem;
  }

  @include for-tablet-potrait-down {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 600px;
    grid-gap: 1rem;
    top: 4%;
  }
}
.testimonial-card {
  border-radius: 20px;
  @include set-bg-n-text-color($white-smoke);
  transition: all 0.3s ease-in-out;

  &:hover > .quote-sign {
    opacity: 1;
  }

  @include for-big-desktop-up {
    height: 700px;
    padding: 2.5rem 2rem 6rem 2.1rem;
  }

  @include for-extra-large-desktop-up {
    height: 800px;
    padding: 3.5rem 1.4rem 4rem 2.6rem;
    border-radius: 35px;
  }

  @include for-desktop-down {
    height: 600px;
    padding: 2.5rem 0.3rem 7rem 1.5rem;
  }

  @include for-small-desktop-down {
    height: 550px;
    padding: 2.5rem 1rem 4rem 1.5rem;
  }

  @include for-tablet-potrait-down {
    background-color: transparent;
    border: none;
    height: 600px;
    //overflow: hidden;
  }
}
.quote-sign {
  margin-top: -110px;
  margin-left: 60%;
  transform: rotate(179deg);
  width: 140px;
  opacity: 0.7;

  @include for-extra-large-desktop-up {
    width: 171px;
    margin-top: -145px;
  }

  @include for-tablet-potrait-down {
    width: 50px;
    position: relative;
    right: 66px;
    bottom: -228px;
  }
}
.testimonial-card__name-tag {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;

  @include for-tablet-potrait-down {
    flex-direction: column;
    margin-bottom: 4rem;
  }
}
.testimonial-card__name-tag__ava {
  //display: inline-block;
  margin-right: 1rem;
  //background: url("../img/quan.JPG") no-repeat center center/cover;

  @include set-width-n-height(70px, 70px);
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid mix(white, $background-black, 60);

  @include for-extra-large-desktop-up {
    @include set-width-n-height(80px, 80px);
  }

  @include for-tablet-potrait-down {
    @include set-width-n-height(100px, 100px);
    margin-bottom: 1.5rem;
  }
}

.testimonial-ava {
  height: unset;
  aspect-ratio: 1/1;
  object-fit: contain;
  border-radius: 50%;
}

.testimonial-card__name-tag__info {
  width: 75%;
  border-bottom: 1px solid mix(white, $background-black, 60);

  padding-bottom: 1rem;

  @include for-small-desktop-down {
    width: 65%;
  }

  @include for-tablet-potrait-down {
    border: none;
    width: 100%;
    text-align: center;
  }
}

.testimonial-card__name-tag__info__name {
  margin-bottom: 0.3rem;
  @include for-big-desktop-up {
    font-size: 1rem;
  }
  @include for-small-desktop-down {
    font-size: 0.8rem;
  }
  @include for-tablet-potrait-down {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
}

.testimonial-card__name-tag__info__title {
  font-style: italic;
  font-size: 0.8rem;

  @include for-small-desktop-down {
    font-size: 0.6rem;
  }

  @include for-tablet-potrait-down {
    font-size: 1.1rem !important;
  }
}
.testimonial-card__quote {
  font-size: 1.2rem;
  line-height: 2;

  @include for-small-desktop-down {
    font-size: 0.9rem;
  }
  @include for-tablet-potrait-down {
    font-size: 1.5rem;
    text-align: center;
  }
}

.testimonial-btn {
  position: absolute;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  bottom: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  @include for-extra-large-desktop-up {
    font-size: 3.3rem;
  }

  @include for-tablet-potrait-down {
    display: none !important;
  }
}

.testimonial-btn--next {
  right: -35px;

  @include for-extra-large-desktop-up {
    right: -95px;
  }
}

.testimonial-btn--prev {
  left: -35px;

  @include for-extra-large-desktop-up {
    left: -95px;
  }
}

.testimonial-container--show {
  opacity: 1;
  pointer-events: initial;
}
