.testimonial {
  position: relative;
  @include set-width-n-height(100%, 90vh);
}
.testimonial-wraper {
  position: relative;
  margin: 0 auto;
  @include set-width-n-height(90%, 100%);

  @include for-big-desktop-up {
    width: 1500px;
  }
}
.testimonial-container {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;

  @include set-width-n-height(100%, 100%);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2.1rem;
  place-items: center;
  pointer-events: none;
  transition: all 0.5s ease-in-out;

  @include for-small-desktop-down {
    grid-gap: 1.4rem;
  }
}
.testimonial-card {
  border-radius: 20px;
  @include set-bg-n-text-color($white-smoke);
  transition: all 0.3s ease-in-out;

  &:hover > .quote-sign {
    opacity: 1;
  }

  @include for-big-desktop-up {
    height: 1500px;
    padding: 2.5rem 2rem 6rem 2.1rem;
  }

  @include for-desktop-down {
    height: 600px;
    padding: 2.5rem 0.3rem 7rem 1.5rem;
  }

  @include for-small-desktop-down {
    height: 550px;
    padding: 2.5rem 1rem 4rem 1.5rem;
  }
}
.quote-sign {
  margin-top: -110px;
  margin-left: 60%;
  transform: rotate(179deg);
  width: 140px;
  opacity: 0.7;
}
.testimonial-card__name-tag {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}
.testimonial-card__name-tag__ava {
  display: inline-block;
  margin-right: 1rem;
  background: url("../img/quan.JPG") no-repeat center center/cover;

  @include set-width-n-height(70px, 70px);
  border-radius: 50%;
  border: 1px solid mix(white, $background-black, 60);
}

.testimonial-card__name-tag__info {
  width: 75%;
  border-bottom: 1px solid mix(white, $background-black, 60);

  padding-bottom: 1rem;

  @include for-small-desktop-down {
    width: 65%;
  }
}

.testimonial-card__name-tag__info__name {
  margin-bottom: 0.3rem;

  @include for-small-desktop-down {
    font-size: 0.8rem;
  }
}

.testimonial-card__name-tag__info__title {
  font-style: italic;
  font-size: 0.8rem;

  @include for-small-desktop-down {
    font-size: 0.6rem;
  }
}
.testimonial-card__quote {
  font-size: 1.2rem;
  line-height: 2;

  @include for-small-desktop-down {
    font-size: 0.9rem;
  }
}

.testimonial-btn {
  position: absolute;
  opacity: 0.6;
  transition: opacity 0.3s ease-in-out;
  bottom: 50%;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.testimonial-btn--next {
  right: -35px;

  @include for-small-desktop-down {
    right: -35px;
  }
}

.testimonial-btn--prev {
  left: -35px;

  @include for-small-desktop-down {
    left: -35px;
  }
}

.testimonial-container--show {
  opacity: 1;
  pointer-events: initial;
}
