.timeline-projects {
  @include set-width-n-height(100%, 100vh);
  position: relative;

  &::after {
    content: "";
    @include set-width-n-height(100%, 100%);
    background: url("../img/background-project.png") no-repeat center
      center/cover;
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #171717, $alpha: 0.8);
    @include set-width-n-height(100%, 100%);
  }

  @include for-extra-large-desktop-up {
    max-width: 2500px;
    margin: 0 auto;
  }

  @include for-tablet-potrait-down {
    font-size: 1rem;
  }
}

.timeline-projects .title {
  position: absolute;
  top: 40px;

  color: $background-white;
  transition: all 0.2s ease-in-out;

  @include for-big-desktop-up {
    top: 70px;
  }

  @include for-tablet-potrait-down {
    top: 24px;
  }

  @include for-phone {
    font-size: 1.2rem;
  }
  @include for-phone-sm {
    top: 12px;
  }
}

.timeline-container {
  white-space: nowrap;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.timeline {
  $timeline-width: 0;
  position: absolute;
  opacity: 0;
  pointer-events: none;

  @include for-big-desktop-up {
    $timeline-width: 30vw;
    right: calc((100% - #{$timeline-width * 2}) / 2);
  }

  @include for-desktop-down {
    $timeline-width: 34vw;
    right: calc((100% - #{$timeline-width * 2}) / 2);
  }

  @include for-tablet-potrait-down {
    left: -27%;
    top: 24%;
    transform: rotate(90deg);
  }
  @include for-phone {
    top: 6%;
  }
  @include for-phone-sm {
    top: 10%;
  }
}
%dot-template {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  bottom: 0;
  z-index: 1;

  @include set-width-n-height(20px, 20px);
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #fff;

  @include for-tablet-potrait-down {
    @include set-width-n-height(12px, 12px);
  }

  @include for-phone {
    @include set-width-n-height(8px, 8px);
  }
}

.timeline__item {
  $timeline-width: 0;

  position: relative;
  display: inline-block;
  background-color: $background-white;

  &::after {
    @extend %dot-template;
  }

  &::before {
    @extend %dot-template;
    @include set-width-n-height(40px, 40px);

    background-color: transparent;
    border: 2px solid $dark-red;
    left: calc(100% - 12px);

    @include for-tablet-potrait-down {
      @include set-width-n-height(25px, 25px);
      left: calc(100% - 8px);
    }

    @include for-phone {
      width: 15px;
      height: 15px;
      left: calc(100% - 5px);
    }
  }
  &:hover {
    cursor: pointer;
  }

  @media (min-width: 1101px) {
    &:hover::after {
      background-color: $primary-red;
    }
    &:hover &__content {
      background-color: $dark-red;
      top: calc(100% + 25px);
      left: calc(100% - 5px);
    }
  }

  @include for-big-desktop-up {
    $timeline-width: 30vw;
    @include set-width-n-height(#{$timeline-width}, 3px);
  }
  @include for-desktop-down {
    $timeline-width: 34vw;
    @include set-width-n-height(#{$timeline-width}, 3px);
  }
  @include for-tablet-potrait-down {
    $timeline-width: 30vh;
    @include set-width-n-height(#{$timeline-width}, 3px);
  }
}

.timeline__item__logo {
  position: absolute;
  bottom: -20px;
  left: 100%;
  transform: translateX(-50%);
  width: 200px;

  @include for-big-desktop-up {
    width: 280px;
    &:first-child {
      bottom: -50px;
    }
  }

  @include for-extra-large-desktop-up {
    width: 400px;
  }

  @include for-tablet-potrait-down {
    width: 155px;
    transform: rotate(-90deg);
    bottom: -155px;
    left: 77%;
  }
  @include for-phone {
    width: 100px;
    bottom: -100px;
    left: 84%;
  }
}

.timeline__item:nth-child(2) .timeline__item__logo {
  width: 160px;
  bottom: 15px;

  @include for-big-desktop-up {
    width: 180px;
  }

  @include for-extra-large-desktop-up {
    width: 300px;
  }

  @include for-tablet-potrait-down {
    width: 118px;
    bottom: -129px;
    left: 90%;
  }
  @include for-phone {
    width: 90px;
    bottom: -92px;
    left: 90%;
  }
}

.timeline__item:nth-child(3) .timeline__item__logo {
  bottom: 45px;
  @include for-tablet-potrait-down {
    bottom: -120px;
  }
  @include for-phone {
    bottom: -72px;
  }
}

.timeline__item:first-child {
  background-color: transparent;
}

.timeline__item__content {
  position: absolute;
  top: calc(100% + 30px);
  left: 100%;
  transform: translateX(-50%);
  padding: 1rem 1.1rem;
  white-space: normal;
  transition: all 0.2s ease-in-out;

  @include set-bg-n-text-color(rgba($color: $dark-red, $alpha: 0.34));

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: $background-white;
    width: 100%;
    height: 3px;
  }

  $panel-width: calc(34vw * 5 / 6);

  @include set-width-n-height(#{$panel-width}, 200px);

  @include for-big-desktop-up {
    height: 300px;
    padding: 2rem 1.4rem;
  }

  @include for-extra-large-desktop-up {
    $panel-width: calc(30vw * 5 / 6);
    @include set-width-n-height(#{$panel-width}, 400px);
  }

  @include for-desktop-down {
  }

  @include for-tablet-landscape-down {
    height: 180px;
  }

  @include for-tablet-potrait-down {
    $panel-width: 45vw;
    transform: rotate(-90deg);
    width: #{$panel-width};
    top: calc(7vw - #{$panel-width});
    left: 74%;
    padding: 2rem 1.4rem;
    background-color: $dark-red;
  }
  @include for-phone {
    @include set-width-n-height(60vw, 150px);
    top: calc(8vw - 60vw);
    left: 83%;
    padding: 1.4rem 1rem;
  }

  @include for-phone-sm {
    width: 65vw;
    top: calc(8vw - 65vw);
    left: 78%;
  }
}

.timeline__item__content__des {
  line-height: 1.2;

  @include for-big-desktop-up {
    line-height: 1.4;
    font-size: 1.2rem;
  }
  @include for-tablet-landscape-down {
    font-size: 0.9rem;
    line-height: 1.1;
  }

  @include for-tablet-potrait-down {
    font-size: 1.3rem;
  }
  @include for-phone {
    font-size: 0.9rem;
  }
}

.timeline__item__content__btn {
  position: absolute;
  bottom: 20px;

  font-weight: 700;

  &:hover {
    @include set-bg-n-text-color($background-white);
  }
  @include for-big-desktop-up {
    padding: 0.6rem 1.1rem;
  }

  @include for-extra-large-desktop-up {
    border-width: 4px;
  }

  @include for-small-desktop-down {
    bottom: 10px;
  }

  @include for-tablet-landscape-down {
    bottom: 5px;
  }

  @include for-tablet-potrait-down {
    padding: 1rem 2.5rem;
    font-size: 1.3rem;
    text-align: center;
    color: $text-black;
    background-color: $background-white;
  }
  @include for-phone {
    padding: 0.5rem 1.7rem;
    bottom: 15px;
  }
}

.carousel-projects-container {
  opacity: 0;
  pointer-events: none;
  position: relative;
  display: grid;
  width: 95vw;
  //grid-template-columns: repeat(5, 18%);
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: minmax(auto, 28vh);
  grid-gap: 1rem;
  //grid-row-gap: 0.5rem;
  justify-content: center;
  align-items: center;
  white-space: initial;

  /* @include for-big-desktop-up {
    width: 100%;
    grid-gap: 1.5rem;
  } */

  @include for-small-desktop-down {
    width: 80%;
  }

  @include for-tablet-potrait-down {
    width: 55%;
  }
  @include for-phone {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(120px, 0.4fr));
  }
  @include for-phone-sm {
    width: 95%;
  }
}
.carousel-projects-toggler {
  position: absolute;
  color: $background-white;
  margin-right: 1.3rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  bottom: 10%;
  right: 2%;
  &:hover {
    color: $primary-red;
  }

  @include for-big-desktop-up {
    font-size: 1.5rem;
  }

  @include for-tablet-potrait-down {
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);
    font-size: 1.4rem;

    i {
      transform: rotate(90deg);
    }
  }

  @include for-phone {
    font-size: 1rem;
  }
}

.carousel-projects-item {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 310px;
    left: 0;
    height: 0;
    width: 100%;
    background-color: #000;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;

    @include for-big-desktop-up {
      top: 450px;
    }
    @include for-extra-large-desktop-up {
      top: 600px;
    }

    @include for-tablet-landscape-down {
      top: 250px;
    }
    @include for-tablet-potrait-down {
      top: 235px;
    }
    @include for-phone {
      top: 190px;
    }
    @include for-phone-sm {
      top: 150px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    top: 310px;
    left: 0;
    background-color: $background-white;

    @include set-width-n-height(100%, 3px);

    @include for-big-desktop-up {
      top: 450px;
    }

    @include for-extra-large-desktop-up {
      top: 600px;
    }

    @include for-tablet-landscape-down {
      top: 250px;
    }

    @include for-tablet-potrait-down {
      top: 235px;
    }
    @include for-phone {
      top: 190px;
      height: 1.5px;
    }
    @include for-phone-sm {
      top: 150px;
    }
  }

  &:hover {
    &::before {
      height: 310px;
      top: 0;
      opacity: 0.8;

      @include for-big-desktop-up {
        height: 450px;
      }

      @include for-extra-large-desktop-up {
        height: 600px;
      }

      @include for-tablet-landscape-down {
        height: 250px;
      }

      @include for-tablet-potrait-down {
        height: 235px;
      }
      @include for-phone {
        height: 190px;
      }
      @include for-phone-sm {
        height: 150px;
      }
    }

    & .carousel-projects-item__des {
      opacity: 1;
    }
  }
}

.carousel-projects-item__des {
  @include set-width-n-height(100%, 100%);
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.5rem 1.2rem;
  color: $background-white;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.4s ease-in-out;
  font-size: 0.9rem;
  line-height: 1.3;

  @include for-extra-large-desktop-up {
    padding: 2rem 2.3rem;
  }

  @include for-big-desktop-up {
    padding: 1.5rem 1.7rem;
    font-size: 1.1rem;
  }

  @include for-tablet-landscape-down {
    font-size: 0.8rem;
  }
}

.carousel-projects-item__btn {
  position: relative;

  width: 100%;

  margin-top: 1rem;
  color: $background-white;
  border: 3px solid rgb(255, 255, 255);

  padding: 0.7rem 0.8rem;
  text-align: center;
  //cursor: pointer;

  @include for-big-desktop-up {
    margin-top: 2rem;
    padding: 1.2rem;
  }

  @include for-extra-large-desktop-up {
    border-width: 4px;
  }

  @include for-tablet-landscape-down {
    padding: 0.7rem 0.4rem;
  }

  @include for-tablet-potrait-down {
    border-width: 2px;
  }
  @include for-phone-sm {
    border-width: 1px;
    margin-top: 0.6rem;
  }
}

.carousel-projects-item__btn h5 {
  margin-bottom: 0.3rem;

  @include for-big-desktop-up {
    font-size: 1rem;
  }

  @include for-tablet-landscape-down {
    font-size: 0.7rem;
  }
  @include for-phone-sm {
    font-size: 8px;
  }
}
.carousel-projects-item__btn p {
  font-size: 0.7rem;

  @include for-big-desktop-up {
    font-size: 0.8rem;
  }

  @include for-tablet-landscape-down {
    font-size: 0.5rem;
  }
  @include for-phone-sm {
    font-size: 6px;
  }
}

.carousel-projects-item img {
  display: block;
  @include set-width-n-height(100%, 310px);
  position: relative;

  @include for-big-desktop-up {
    @include set-width-n-height(100%, 450px);
  }
  @include for-extra-large-desktop-up {
    height: 600px;
  }

  @include for-tablet-landscape-down {
    height: 250px;
  }

  @include for-tablet-potrait-down {
    height: 235px;
  }
  @include for-phone {
    height: 190px;
  }
  @include for-phone-sm {
    height: 150px;
  }
}

.timeline-projects--showed {
  opacity: 1;
  pointer-events: initial;

  transition: opacity 0.4s ease-in-out;
}
