@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-size: 1rem;

  @include for-extra-large-desktop-up {
    font-size: 1.2rem;
  }
}
body {
  width: 100vw;
  height: 100vh;
  font-family: "Noto Sans", sans-serif;
  line-height: 1.1;
  letter-spacing: 1px;
  overflow-x: hidden;
}

/* .main-page {
  max-width: 2300px;
  margin: 0 auto;
} */

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

span {
  //color: $primary-red;
  text-transform: uppercase;
}
.style-bold {
  font-weight: 700;
}
.style-red {
  color: $primary-red !important;
}

.icon {
  width: 20px;
}
.btn {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.btn-small {
  margin-top: 1rem;
  padding: 0.4rem 1.1rem;
  text-align: center;
  border: 1px solid;
  border-radius: 102px;

  @include for-extra-large-desktop-up {
    border-width: 2px;
  }
}
img {
  width: 100%;
}
