@mixin set-width-n-height($width, $height) {
  width: $width;
  height: $height;
}

@mixin set-bg-n-text-color($bg-color) {
  background-color: $bg-color;

  color: set-text-color($bg-color);
}

// Responsive Breakpoints
@mixin for-phone {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-potrait-down {
  @media (max-width: 850px) {
    @content;
  }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 1100px) {
    @content;
  }
}
@mixin for-small-desktop-down {
  @media (max-width: 1300px) {
    @content;
  }
}
@mixin for-desktop-down {
  @media (max-width: 1599px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin for-extra-large-desktop-up {
  @media (min-width: 2100px) {
    @content;
  }
}
