$primary-red: #ff0020;
$background-black: #3e3e3e;
$background-white: #f6f4f4;
$white-smoke: #f0ecec;
$dark-red: #830d0d;
$text-black: #303031;

$grid-area: (
  1: one,
  2: two,
  3: three,
  4: four,
  5: five,
  6: six,
  7: seven,
  8: eight,
  9: nine,
  10: ten,
  11: eleven,
  12: twelve,
  13: thirdteen,
);
